{% extends 'm/base.html' %}
{% load static %}

{% block content %}
  <h2>Profile List</h2>
  <br/>
  {% if profiles %}
    {% for profile in profiles %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/default_logo.png' %}" class="img-fluid rounded-start" alt="Users profile pic">
          </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <p class="card-text"><a href="{% url 'm:profile' profile.user.id %}" style="text-decoration: none; color: inherit;">@{{ profile.user.username|lower }}</a></p>
                <p class="card-text"><small class="text-muted">Last updated {{ profile.date_modified }}</small></p>
                
                <form method=POST>
                  {% csrf_token %}
                  {% if profile in user.profile.follows.all %}
                    <button class="btn btn-outline-danger" name="follow" value="unfollow"
                    type="submit">Unfollow @{{ profile.user.username }}</button>
                  {% else %}
                    <button class="btn btn-outline-primary" name="follow" value="follow"
                    type="submit">Follow @{{ profile.user.username }}</button>
                  {% endif %}
                </form>

              </div>
            </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h2>No profiles found.</h2>
  {% endif %}
{% endblock content %}