{% extends 'm/base.html' %}
{% load static %}

{% block content %}
  <h2>Profile List</h2>
  <br/>
  {% if profiles %}
    {% for profile in profiles %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" width=150 height=100 class="img-fluid rounded-start" alt="{{ profile.user.username }}">
            {% else %}
            <img src="{% static 'images/default_logo.png' %}" class="img-fluid rounded-start" alt="Users profile pic">
            {% endif %}
          </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <p class="card-text"><a href="{% url 'm:profile' profile.user.id %}" style="text-decoration: none; color: inherit;">@{{ profile.user.username|lower }}</a></p>
                <p class="card-text"><small class="text-muted">Last updated {{ profile.date_modified }}</small></p>
              </div>
            </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h2>No profiles found.</h2>
  {% endif %}
{% endblock content %}